// Цвета
$colorWhite: #ffffff;
$colorPrimary: #E40000;
$colorPrimaryHover: #efede4;
$colorPrimaryActive: #fc8d3d;
$colorSecondary: #F7F5EC;
$colorSecondaryHover: #efede4;
$colorSecondaryActive: #efede4;
$colorText: #000000;
$colorGrey: #a5a5a5;
$colorLightGrey: #e3e3e3;
$colorBgBlock: #ff6969;

// Цвета для тегов
$colorTags: (
  default: #E40000,
  default-hover: #efede4,
  default-text: #ffffff,
  default-text-hover: #ffffff,
);
