@media (max-width: $sml) {
  .el-button.b-btn {
    &_tag-controls {
      position: absolute;
      top: 50%;
      right: 0;
    }
  }
}

@media (max-width: $sm) {
  .el-button.b-btn {

    &_medium {
      height: $m15;

      span,
      p {
        font-size: $textTiny;
      }
    }

    &_icon {
      span,
      p {
        gap: $m5;

        svg {
          width: $m10;
          height: $m10;
        }
      }
    }

    &_tag {
      font-size: $textTiny;
      font-weight: $textNormal;
      height: $m20;
    }
  }
}

@media (max-width: $xs) {
  .el-button.b-btn {
    &_tag-controls {
      top: 120%;
    }
  }
}
